.App {
  text-align: center;
}
img {
  width:450px;
  height: 600px;
}

.App.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1281px) {
  .App.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.item {
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color:  blueviolet;
  color:white;
}

.item:hover .overlay {
  bottom: 5px;
}